nav {  
    background-color: rgb(195, 160, 219);
 
  }

nav {
    list-style-type:none;
    padding: 0px;
    margin: 0px;
    display: flex;
  }
nav  a{
    text-decoration: none;
    color: rgb(35, 8, 61);

  }
 
nav .dropdown-item{
     display: none;
 } 
 

 #searchbar{
   background-color: rgb(211, 195, 226);
 }
 #featured-links a{
   font-size: 18px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   text-decoration: none;
   color: black;
 }
 #spotlight{ 
   background-color: rgb(211, 195, 226);

 }